{
    "presets": ["env", "stage-2"],
    "plugins": [
        "add-module-exports",
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}
